body,input,button {
    box-sizing: border-box;
}
.todo-list_container {
   
    background-color: #ccc;
}
.todo-list_inner {
    max-width: 600px;
    margin: auto;
    padding: 20px 20px 50px;
}
h1 {
    text-align: center;
}

button {
    border: 0;
    cursor: pointer;
}

.add-todo_btn {
    width: 100px;
    height: 40px;
}

.todo-input {
    width: calc(100% - 100px);
    height: 40px;
    border: 0;
    padding: 10px;
}

input:focus {
    outline: none;
}
.todo-list_inner input {
    float: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #d8d8d8;
}
.todo-list li {
    padding: 10px;
    border-top: 1px solid #ccc;
    position: relative;
    padding-right: 60px;

}


.todo-list .delete-todo_btn {
    position: absolute;
    right: 0;
    width: 50px;
    top: 0;
    bottom: 0;
}
